.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10rem;
  background-color: black;
}
.App input{
  margin: 10px;
  height: 25px;
  border-radius: 10px;
  padding-left: 10px;
}

.App button{
    width: 100px;
}
